@inherits LayoutComponentBase

<nav class="sidebar">
    <LeftNav />
</nav>

<div class="main">
    <div class="top-row px-4">
        <h1>Bug Tracker for Adaptive Construction Solutions</h1>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
