@page "/new-bug"

<h3>Add New Bug</h3>

<EditForm Model="AddBug" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <InputText @bind-Value="@AddBug.Title" placeholder="Enter Title" />
    <InputText @bind-Value="@AddBug.Description" placeholder="Enter Description" />
    <InputNumber @bind-Value="@AddBug.Priority" placeholder="Enter Priority" />

    <button type="submit">Add Bug</button>
</EditForm>

@code {
    // Inject attribute ensures instance is provided by dependency resolver
    [Inject]
    public IBugService BugService { get; set; }

    [Inject]
    public NavigationManager NavService { get; set; }

    public Bug AddBug { get; set; } = new Bug();

    protected void HandleValidSubmit() {
        // Persists the new bug to the service
        BugService.AddBug(AddBug);
        // Sends the user to the home page
        NavService.NavigateTo("");
    }
}